DISCORD_TOKEN=TON_TOKEN_ICI
CLIENT_ID=TON_CLIENT_ID_ICI
GUILD_ID=TON_GUILD_ID_ICI
REGLEMENT_CHANNEL_ID=ID_SALON_REGLEMENT
WELCOME_CHANNEL_ID=ID_SALON_BIENVENUE
TICKET_CATEGORY_ID=ID_CATEGORIE_TICKETS
TICKET_LOG_CHANNEL_ID=ID_SALON_LOGS_TICKETS
STAFF_ROLE_ID=ID_ROLE_STAFF
VERIFIED_ROLE_ID=ID_ROLE_VERIFIE
WEB_PORT=3000
SITE_URL=https://TON_USERNAME.github.io/GravityBot
API_URL=http://localhost:3000
SECRET_KEY=une_cle_secrete_tres_longue_ici
